<!-- cart.html -->
{% extends "products/base.html" %}

{% block content %}
  <div class="container">
    <h1>Cart</h1>
    {% if cart_items %}
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
            <tr>
              <td>{{ item.product.name }}</td>
              <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" width="100"></td>
              <td>{{ item.quantity }}</td>
              <td>
                <form action="{% url 'cart:remove_from_cart' item.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'orders:create_order' %}" class="btn btn-primary">Order</a>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  </div>
{% endblock %}
